nav {
    position: sticky;
    top: 0;
    z-index: 1100;
    width:100%;
    box-shadow: 10px 10px 10px rgb(240, 248, 248);  
    background-color: rgb(240, 248, 248);  
   
    
}



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
ul.topnav li {
    float: left;
    margin: 5px 10px;
    box-shadow: 1px 1px 1px rgb(244, 134, 94);
    background-image: linear-gradient(to bottom right, rgb(250, 250, 249), rgb(248, 240, 232) );
    border: 5px double rgb(244, 134, 94);
}

ul.topnav li:hover {
    float: left;
    margin: 5px 150x;
    box-shadow: 5px 5px 5px rgb(244, 134, 94);
    background-color: white;
    
}
 
  
ul.topnav li a {
    display: block;
    color: rgb(244, 134, 94);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    border: white solid 2px;
}

ul.topnav li a:hover {
    color: rgb(244, 134, 94);
}



.fa-facebook {
    background:white;
    color: tomato;
    margin: 10px;
    border: dashed 2px tomato;

  }
  
  
.fa-linkedin {
    background:white;
    color: tomato;
    margin: 10px;
    border: dashed 2px tomato;

  }

.fa-github {
    background:white;
    color: tomato;
    margin: 10px;
    border: dashed 2px tomato;

  }  

.orange {
    color: rgb(244, 134, 94);
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 7px 7px;
  }
  
  .fa:hover {
    background-color: white;
    color: tomato;
    box-shadow: 5px 5px 5px tomato;

  }

  .fa-button{
    padding: 10px;
    font-size: 20px;
    /* width: 100px; */
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    margin: 7px 7px;
    background-color: white;
    border: 2px dashed tomato;
    color:tomato
    
  }

  .fa-button:hover {
    background-color: white;
    color: tomato;
    box-shadow: 5px 5px 5px tomato;
    border: 1px solid tomato;

  }
  

  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }