

.profile-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 16px;
    row-gap: 16px;
    margin-left: auto;
    margin-right: auto;
   
}

.absolute {
    position: absolute;
    color: #007bb5;
    right: 350px;
    width: 250px;
    top: 200px;
}

.profile-image {
    width: 250px;
    padding-top: 50%;

}

.profile-in button{
    border: solid 1px rgb(244, 134, 94);
    background-color: white;
    color: rgb(244, 134, 94);
}

/* .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 10px;

  }
  
  
.fa-linkedin {
    background: #007bb5;
    color: white;
    margin: 10px;

  }
 
.fa-github {
    background: #7c3fd7;
    color: white;
    margin: 5px;

  }  

.orange {
    color: rgb(244, 134, 94);
}
.fa {
    padding: 10px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 15px 12px;
  }
  
  .fa:hover {
    background-color: white;
    color: tomato;
    box-shadow: 5px 5px 5px tomato;

  }

  /* .fa-button{
    padding: 10px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    margin: 15px 12px;
    background-color: tomato;
    
    
  } */

  .fa-button:hover {
    background-color: white;
    color: tomato;
    box-shadow: 5px 5px 5px tomato;
    border: 1px solid tomato;

  }
  .p {
    text-align: left;
    margin-left: 1px;
    
  }